body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 244, 230);
}

hr {
  width: 20%;
  border-style: dotted none none;
  border-width: 7px;
  border-color: rgb(117, 189, 189);
  margin-top: 4%;
  margin-bottom: 8%;
}

a {
  text-decoration: none;
  color: #f9fffe;
  font-family: "Ubuntu", sans-serif;
}
a:hover {
  color: pink;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  color: teal;
  font-size: 900;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  color: teal;
  margin-bottom: 5%;
  margin-top: 5%;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  color: rgb(99, 165, 165);
  font-size: larger;
}

.subheadings {
  font-family: "Ubuntu", sans-serif;
  color: teal;
  font-size: larger;
}
.dp {
  width: 13%;
  height: 13%;
  border-radius: 50%;
  margin-top: 8%;
}

.intro {
  font-family: "Space Mono", monospace;
  width: 40%;
  text-align: center;
  margin-top: 5%;
}

.hobbies {
  display: grid;
  width: 40%;
  text-align: left;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 4%;
  margin-bottom: 10%;
}

.hobby {
  font-family: "Space Mono", monospace;
  height: 90%;
}

p {
  font-family: "Space Mono", monospace;
}

.contact {
  text-align: center;
  width: 35%;
  margin-bottom: 8%;
}

.cont {
  margin-top: 8%;
  margin-bottom: 10%;
}

.footer {
  margin-top: 8%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(110, 188, 188);
}

.flink {
  margin: 8%;
}

.btn {
  white-space: nowrap;
  font-size: large;
  background-color: rgb(99, 187, 187);
  padding: 10% 18% 10% 18%;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 20px;
}
